<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('About')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="about">
                <video class="about-video-top" th:src="@{/video/Wave_01.mp4}" src="../static/video/Wave_01.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="about-desc">
                    <h2>ROADBEAT APP</h2>
                    <p>Roadbeat, founded in 2023 by Atanas and Rosen, embodies their shared vision to transform every journey into a beautiful and lasting memory. Their creation aims to harmonize travel experiences with the essence of beauty and joy.</p>
                    <div class="about-desc-profiles">
                        <div class="about-desc-profiles-info">
                            <img th:src="@{/img/Atanas.jpg}" src="../static/img/Atanas.jpg" alt="Atanas">
                            <div class="about-desc-profiles-info-pictures">
                                <div class="about-desc-profiles-info-pictures-pulse">
                                    <span style="--i:0"></span>
                                    <span style="--i:1"></span>
                                    <span style="--i:2"></span>
                                    <span style="--i:3"></span>
                                </div>
                            </div>
                        </div>
                        <div class="about-desc-profiles-info">
                            <img th:src="@{/img/Rosen.jpg}" src="../static/img/Rosen.jpg" alt="Atanas">
                            <div class="about-desc-profiles-info-pictures">
                                <div class="about-desc-profiles-info-pictures-pulse">
                                    <span style="--i:0"></span>
                                    <span style="--i:1"></span>
                                    <span style="--i:2"></span>
                                    <span style="--i:3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <video class="about-video-bot" src="../static/video/Wave_01.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>