<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('All Playlists')}"></div>
<body>
<div class="container">
    <div class="main-field">
        <div th:replace="~{Templates.html :: header}"></div>
        <section class="allPlaylists">
            <video class="allPlaylists-video" th:src="@{/video/Wave_04.mp4}" src="../static/video/Wave_04.mp4"
                   playsinline="" preload="none" autoplay="" muted="" loop=""></video>
            <div class="allPlaylists-content">
                <div class="allPlaylists-content-list">
                    <h2>Generated Playlists</h2>


                    <div>
                        <section class="allPlaylists-filter">
                            <div class="allPlaylists-filter-information">
                                <h3>Number of Playlists:</h3>
                                <p th:text="${playlistsCount}">23</p>  
                            </div>
    
                            <div class="filter-content">
                                <div class="filter-box">
                                    <h2>Search Playlists</h2>
                                    <form th:action="@{/playlists}" method="get" th:object="${playlistFilterOptions}" class="allPlaylists-filter-form">
                                        <div class="filter-user-box">
                                            <input type="text" id="title" th:field="*{title}">
                                            <label for="title">Playlist title</label>
                                        </div>
                                        <div class="filter-user-box">
                                            <input type="number" id="from" th:field="*{playlistTimeFrom}">
                                            <label for="from">Minutes from</label>
                                        </div>
                                        <div class="filter-user-box">
                                            <input type="number" id="to" th:field="*{playlistTimeTo}" th:value="10000">
                                            <label for="to">Minutes to</label>
                                        </div>
    
                                        <div class="filter-user-box">
                                            
                                            <select id="genre" th:field="*{genreName}" class="transparent-filter-options">
                                                <option value="">Select Genre</option>
                                                <option th:value="Rock" value="Rock">Rock</option>
                                                <option th:value="Pop" value="Pop">Pop</option>
                                                <option th:value="'Rap/Hip Hop'" value="option1">Rap/Hip Hop</option>
                                                <option th:value="Classical" value="Classical">Classical</option>
                                                <option th:value="'R&B'" value="R&B">R&B</option>
                                                <option th:value="Kids" value="Kids">Kids</option>
                                            </select>
                                        </div>
                                        <button class="filter-button" type="submit">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </section>

                        <!--<section class="playlist-filter-options">

                            <form th:action="@{/playlists}" method="get"  th:object="${playlistFilterOptions}"  class="playlist-filter-form">

                                <label>Playlist title</label>
                                <input type="text" th:field="*{title}">
                                <label>Minutes from </label>
                                <input type="number" th:field="*{playlistTimeFrom}">
                                <label>Minutes to</label>
                                <input type="number" th:field="*{playlistTimeTo}">
                                <label>Genre type</label>
                                <input type="text" th:field="*{genreName}">
                                <input type="submit" value="Search" class="search-btn"/>
                            </form>

                            <div th:if="${playlists.isEmpty()}" class="no-users-message">
                                <h2>No results found</h2>
                            </div>

                        </section>-->
                    </div>


                    <div th:each="playlist : ${playlists}" class="allPlaylists-content-list-item">
                        <div class="admin-playlist-item">
                            <a th:href="@{/playlist/{id}(id=${playlist.getId()})}" href="Playlist.html">
                                <img th:if="${playlist.getUser().getUserPhoto() == null}" th:src="@{/img/profile-picture-placeholder.jpg}" src="../static/img/profile-picture-placeholder.jpg" alt="profile_picture">
                                <img th:if="${playlist.getUser().getUserPhoto() != null}" th:src="@{/user/selectedPhoto/{id}(id=${playlist.getUser().getId()})}" src="../static/img/profile-picture-placeholder.jpg" alt="profile_picture">
                                <div class="allPlaylists-content-list-item-text">
                                    <p>Playlist name:</p>
                                    <p th:text="${playlist.getTitle()}"></p>
                                </div>
                                <div class="allPlaylists-content-list-item-text">
                                    <p>Generated by:</p>
                                    <p th:text="${playlist.getUser().username}">Nasko94</p>
                                </div>
                                <div class="allPlaylists-content-list-item-text">
                                    <p>Duration:</p>
                                    <p th:text="${playlist.getPlaylistTime()}">23:55 min</p>
                                </div>
                                <div class="allPlaylists-content-list-item-text">
                                    <p>Rank:</p>
                                    <p th:text="${playlist.getRank()}">23:55 min</p>
                                </div>
                                <div class="allPlaylists-content-list-item-pulse">
                                    <span style="--i:0"></span>
                                    <span style="--i:1"></span>
                                    <span style="--i:2"></span>
                                    <span style="--i:3"></span>
                                </div>
                            </a>
                            <a th:href="@{playlists/{id}/update (id=${playlist.getId()})}"
                               class="admin-playlist-item-link" href="">Edit</a>
                            <form th:action="@{playlists/{id}/delete (id=${playlist.getId()})}"
                                  th:object="${playlist}" method="post">
                                <button type="submit" class="admin-playlist-item-button">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<div th:replace="~{Templates.html :: footer}"></div>
</body>

<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        // Set the value to an empty string after the page loads
        $('#numberInput').val('');
    });
</script>-->
</html>