<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Contacts')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="contacts">
                <video class="contacts-video" th:src="@{/video/Wave_02.mp4}" src="../static/video/Wave_02.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="contacts-content">
                    <img th:src="@{/img/Lets_Chat.JPG}" src="../static/img/Lets_Chat.JPG">
                    <div class="contacts-content-info">
                        <div class="contacts-content-info-elements">
                            <p class="contacts-content-info-elements-title">Phone</p>
                            <p class="contacts-content-info-elements-content">+359 888 88 88 88</p>
                        </div>
                        <div class="contacts-content-info-elements">
                            <p class="contacts-content-info-elements-title">Email</p>
                            <p class="contacts-content-info-elements-content">info@roadbeat.com</p>
                        </div>
                        <div class="contacts-content-info-elements">
                            <p class="contacts-content-info-elements-title">Social</p>
                            <div class="contacts-content-info-elements-social">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>