<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Edit User')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="login">
                <video class="login-video" th:src="@{/video/Wave_02.mp4}" src="../static/video/Wave_02.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="login-content">
                    <div class="login-box">
                        <h2>Edit User info</h2>
                        <form th:action="@{/user/update}" th:object="${currentUser}" action="#" method="post">
                            <div class="user-box">
                                <input th:field="*{firstName}" type="text" name="firstName" required="">
                                <label th:text="*{firstName}">First Name</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{lastName}" type="text" name="lastName" required="">
                                <label th:text="*{lastName}">Last Name</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{email}" type="email" name="email" required="">
                                <label th:text="*{email}">Email</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{password}" type="password" name="password" required="">
                                <label>Password</label>
                            </div>
                            <button class="login-button" type="submit" value="update">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Save
                            </button>
                            <div class="error-login-message" th:errors="*{firstName}">Name error placeholder</div>
                            <div class="error-login-message" th:errors="*{password}">Password error placeholder</div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>