<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Edit Playlist')}"></div>
<body>
<div class="container">
    <div class="main-field">
        <div th:replace="~{Templates.html :: header}"></div>
        <section class="generate">
            <video class="generate-video" th:src="@{/video/Wave_05.mp4}" src="../static/video/Wave_05.mp4"
                   playsinline="" preload="none" autoplay="" muted="" loop=""></video>
            <div class="generate-content">
                <div class="generate-content-form">
                    <form th:action="@{/admin/playlists/{id}/update (id=${playlist.getId()})}"
                          th:object="${playlistUpdateDto}" action="#" method="post">
                        <div class="generate-root">
                            <h2>Update Playlist</h2>
                            <div class="generate-root-destination-input">
                            <!--    <input type='text' id='searchBox2' required/>
                                <label for="searchBox2">Update Title</label>-->
                                <input th:field="*{title}" type="text" name="title" required="">
                                <label th:text="*{title}">Title</label>
                            </div>
                        </div>

                        <fieldset class="checkbox-group">
                            <legend class="checkbox-group-legend">Select Music</legend>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="rock" id="rock">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/rock-music-wallpaper.jpg" alt="Rock Music">
                                        </span>
                                        <span class="checkbox-label">Rock</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="pop" id="pop">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/pop-music-wallpaper.jpg" alt="Pop Music">
                                        </span>
                                        <span class="checkbox-label">Pop</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="hiphop" id="hiphop">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/hiphop-music-wallpaper.jpg" alt="Hiphop Music">
                                        </span>
                                        <span class="checkbox-label">Hip Hop</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="classical" id="classical">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/classical_02-music-wallpaper.jpg"
                                                 alt="Classical Music">
                                        </span>
                                        <span class="checkbox-label">Classical</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="rnb" id="rnb">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/rnb-music-wallpaper.jpg" alt="Rnb Music">
                                        </span>
                                        <span class="checkbox-label">RNB</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="kids" id="kids">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/kids-music-wallpaper.jpg" alt="Kids Music">
                                        </span>
                                        <span class="checkbox-label">Kids</span>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                        <button class="generate-button" type="submit">
                            <input type="hidden" name="_method" value="post"/>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </section>

    </div>
</div>
<div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>