<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/public/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/header.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Logo_Title.png">
    <title>Generate_Tracks</title>
</head>
<body>
    <div class="container">
        <div class="main-field">
            <header class="header">
                <div class="header-content">
                  <a href="Index.html" class="logo"><img src="../static/img/logo_02.png" alt=""></a>
                  <input class="menu-btn" type="checkbox" id="menu-btn" />
                  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                  <ul class="menu">
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Portfolio.html">Work</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contacts.html">Contact</a></li>
                  </ul>
                </div> 
            </header>

            <section class="generate">
                <video class="about-video-top" src="../static/video/Wave_01.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <section class="generate-content">
                    <section class="portfolio">
                        <div class="portfolio-section">
                        <a class="portfolio-section-cover" href="Architecture.html">
                            <img src="../static/img/rock-music-wallpaper.jpg" alt="Rock">
                            <div class="portfolio-section-cover-text">
                            <h2>Rock</h2>
                            <p>bon jovi</p>
                            <p>scorpios</p>
                            <p>queen</p>
                            </div>
                        </a>
                        </div>
                        <div class="portfolio-section">
                        <a class="portfolio-section-cover" href="CGart.html">
                            <img src="../static/img/pop-music-wallpaper.jpg" alt="Pop">
                            <div class="portfolio-section-cover-text">
                            <h2>Pop</h2>
                            <p>taylor swift</p>
                            <p>katy perry</p>
                            <p>dua lipa</p>
                            </div>
                        </a>
                        </div>
                        <div class="portfolio-section">
                        <a class="portfolio-section-cover" href="Web_development.html">
                            <img src="../static/img/classical_02-music-wallpaper.jpg" alt="Classical">
                            <div class="portfolio-section-cover-text">
                            <h2>Classical</h2>
                            <p>Bach</p>
                            <p>Mozart</p>
                            <p>Beethoven</p>
                            </div>
                        </a>
                        </div>
                    </section>
                    <section class="portfolio">
                        <div class="portfolio-section">
                        <a class="portfolio-section-cover" href="Architecture.html">
                            <img src="../static/img/hiphop-music-wallpaper.jpg" alt="Rock">
                            <div class="portfolio-section-cover-text">
                            <h2>Hip Hop</h2>
                            <p>bon jovi</p>
                            <p>scorpios</p>
                            <p>queen</p>
                            </div>
                        </a>
                        </div>
                        <div class="portfolio-section">
                        <a class="portfolio-section-cover" href="CGart.html">
                            <img src="../static/img/rnb-music-wallpaper.jpg" alt="Pop">
                            <div class="portfolio-section-cover-text">
                            <h2>RnB</h2>
                            <p>taylor swift</p>
                            <p>katy perry</p>
                            <p>dua lipa</p>
                            </div>
                        </a>
                        </div>
                        <div class="portfolio-section">
                        <a class="portfolio-section-cover" href="Web_development.html">
                            <img src="../static/img/kids-music-wallpaper.jpg" alt="Classical">
                            <div class="portfolio-section-cover-text">
                            <h2>Kids music</h2>
                            <p>Bach</p>
                            <p>Mozart</p>
                            <p>Beethoven</p>
                            </div>
                        </a>
                        </div>
                    </section>
                </section>
                <h2>Choose your styles</h2>
                <video class="about-video-bot" src="../static/video/Wave_01.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
            </section>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-cover">
        <div class="footer-cover-links">
            <ul class="footer-cover-links-nav">
            <li class="footer-cover-links-nav-item"><a href="Index.html">Home</a></li>
            <li class="footer-cover-links-nav-item"><a href="Portfolio.html">Work</a></li>
            <li class="footer-cover-links-nav-item"><a href="Services.html">Services</a></li>
            <li class="footer-cover-links-nav-item"><a href="About.html">About</a></li>
            <li class="footer-cover-links-nav-item"><a href="Contacts.html">Contact</a></li>
            </ul>
            <div class="footer-cover-links-contacts">
            <a class="footer-cover-links-contacts-icons" href="https://www.linkedin.com/in/atanas-hristozov-b657a11a9/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="https://www.behance.net/atanashrisb749?tracking_source=search_users_recommended%7Catanas%20hristozov" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="https://github.com/atanas-hristozov" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-cover-line"></div>
        <div class="footer-cover-rights">
            <P id="currentYear">©date</P>
            <p>All rights reserved</p>
        </div>
        <script src="../static/Js/year.js"></script>
        </div>
    </footer>  
</body>
</html>