<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Generate Playlist')}"></div>
<script type='text/javascript'>
    var map1, map2;

    function GetMaps() {
        map1 = new Microsoft.Maps.Map('#myMap1', {});
        map2 = new Microsoft.Maps.Map('#myMap2', {});

        setupAutoSuggest('#searchBox1', '#searchBoxContainer1', map1);
        setupAutoSuggest('#searchBox2', '#searchBoxContainer2', map2);
    }

    function setupAutoSuggest(inputBox, container, map) {
        Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
            var manager = new Microsoft.Maps.AutosuggestManager({ map: map });
            manager.attachAutosuggest(inputBox, container, function (result) {
                map.entities.clear();
                var pin = new Microsoft.Maps.Pushpin(result.location);
                map.entities.push(pin);
                map.setView({ bounds: result.bestView });
            });
        });
    }

    function geocodeAddress(address, callback) {
        var geocodeRequest = 'https://dev.virtualearth.net/REST/v1/Locations/' + encodeURIComponent(address) + '?key=AmNgj83_e2KSgoqoQZy0NyPdUIpCpqeqXGNL63Yp5R7XXwtpaQmBORKJ44OIzpU3';

        fetch(geocodeRequest)
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                var coordinates = data.resourceSets[0].resources[0].point.coordinates;
                callback(coordinates);
            })
            .catch(function(error) {
                console.log('Error geocoding address:', error);
            });
    }

    function calculateDuration(travelMode) {
        var startPointAddress = document.getElementById('searchBox1').value;
        var endPointAddress = document.getElementById('searchBox2').value;
        var durationDisplay = document.getElementById('durationDisplay'); // Get the div for displaying durations

        geocodeAddress(startPointAddress, function(startPoint) {
            geocodeAddress(endPointAddress, function(endPoint) {
                var key = 'AmNgj83_e2KSgoqoQZy0NyPdUIpCpqeqXGNL63Yp5R7XXwtpaQmBORKJ44OIzpU3';
                var start = startPoint.join(',');
                var end = endPoint.join(',');
                var url = `https://dev.virtualearth.net/REST/v1/Routes/${travelMode}?waypoint.1=${start}&waypoint.2=${end}&key=${key}`;

                var request = new XMLHttpRequest();

                request.onreadystatechange = function() {
                    if (this.readyState === XMLHttpRequest.DONE) {
                        if (this.status === 200) {
                            var response = JSON.parse(this.responseText);

                            if (response && response.resourceSets && response.resourceSets.length > 0 &&
                                response.resourceSets[0].resources && response.resourceSets[0].resources.length > 0 &&
                                response.resourceSets[0].resources[0].travelDuration) {

                                var durationInSeconds = response.resourceSets[0].resources[0].travelDuration;

                                var hours = Math.floor(durationInSeconds / 3600);
                                var minutes = Math.floor((durationInSeconds % 3600) / 60);

                                // Display the duration in the div
                                durationDisplay.innerHTML = `Duration (${travelMode}): ${hours} hours ${minutes} minutes`;
                                document.getElementById('hiddenTravelDuration').value = Math.floor(durationInSeconds);
                            } else {
                                durationDisplay.innerHTML = `No duration information available for ${travelMode}. Please check your input.`;
                            }
                        } else {
                            durationDisplay.innerHTML = `Error fetching data from Bing Maps API for ${travelMode}. Please check your API key or try again later.`;
                        }
                    }
                };

                request.open('GET', url, true);
                request.send();
            });
        });
    }
</script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMaps&key=AmNgj83_e2KSgoqoQZy0NyPdUIpCpqeqXGNL63Yp5R7XXwtpaQmBORKJ44OIzpU3' async defer></script>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="generate">
                <video class="generate-video" th:src="@{/video/Wave_05.mp4}" src="../static/video/Wave_05.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="generate-content">
                    <form th:action="@{/generate/playlist}" th:object="${playlistGenerateDto}" method="post" class="generate-content-form">
                        <div class="generate-root">
                            <h2>Enter Root</h2>
                            <div class="generate-root-destination">
                                <div class="generate-root-destination-configuration">
                                    <div class="generate-root-destination-configuration-field">
                                        <div class="generate-root-destination-input" id='searchBoxContainer1'>
                                            <input type='text' id='searchBox1' required/>
                                            <label for="searchBox1">Start destination</label>
                                        </div>
                                        <div class="generate-root-destination-mapsbackground">
                                            <div class="generate-root-destination-maps" id="myMap1" style="position:relative;width:400px;height:300px;"></div>
                                        </div>
                                    </div>
                                    <div class="generate-root-destination-configuration-field">
                                        <div class="generate-root-destination-input" id='searchBoxContainer2'>
                                            <input type='text' id='searchBox2' required/>
                                            <label for="searchBox2">End destination</label>
                                        </div>
                                        <div class="generate-root-destination-mapsbackground">
                                            <div class="generate-root-destination-maps" id="myMap2" style="position:relative;width:400px;height:300px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="generate-root-destination-buttons">
                                    <h3>Calculate Journey Duration:</h3>
                                    <div class="generate-root-destination-buttons-images">
                                        <button onclick="calculateDuration('Walking')"><img th:src="@{/img/walking-person.png}" src="../static/img/walking-person.png" alt="Calculate Walking Duration"></button>
                                        <button onclick="calculateDuration('Driving')"><img th:src="@{/img/car_02.png}" src="../static/img/car_02.png" alt="Calculate Driving Duration"></button>
                                    </div>
                                    <!-- Div to display the duration -->
                                    <div class="generate-root-destination-calculation" id="durationDisplay"></div>
                                    <input type="hidden" id="hiddenTravelDuration" th:name="travelDuration" th:value="${travelDuration}"/>
                                </div>
                            </div>
                            <div class="generate-root-destination-input">
                                <input th:field="*{title}" type='text' id='searchBox2' required/>
                                <label for="searchBox2">Set Title</label>
                            </div>
                        </div>

                        <fieldset class="checkbox-group">
                            <legend class="checkbox-group-legend">Select Music</legend>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input th:field="*{genreNames}" th:value="Rock" type="checkbox" class="checkbox-input" name="rock" id="rock">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img th:src="@{/img/rock-music-wallpaper.jpg}" src="../static/img/rock-music-wallpaper.jpg" alt="Rock Music">
                                        </span>
                                        <span class="checkbox-label">Rock</span>
                                    </span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input th:field="*{genreNames}" th:value="Pop" type="checkbox" class="checkbox-input" name="pop" id="pop">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img th:src="@{/img/pop-music-wallpaper.jpg}" src="../static/img/pop-music-wallpaper.jpg" alt="Pop Music">
                                        </span>
                                        <span class="checkbox-label">Pop</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input th:field="*{genreNames}" th:value="'Rap/Hip Hop'" type="checkbox" class="checkbox-input" name="hiphop" id="hiphop">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img th:src="@{/img/hiphop-music-wallpaper.jpg}" src="../static/img/hiphop-music-wallpaper.jpg" alt="Hiphop Music">
                                        </span>
                                        <span class="checkbox-label">Hip Hop</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input th:field="*{genreNames}" th:value="Classical" type="checkbox" class="checkbox-input" name="classical" id="classical">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img th:src="@{/img/classical_02-music-wallpaper.jpg}" src="../static/img/classical_02-music-wallpaper.jpg" alt="Classical Music">
                                        </span>
                                        <span class="checkbox-label">Classical</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input th:field="*{genreNames}" th:value="'R&B'" value="165" type="checkbox" class="checkbox-input" name="rnb" id="rnb">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img th:src="@{/img/rnb-music-wallpaper.jpg}" src="../static/img/rnb-music-wallpaper.jpg" alt="Rnb Music">
                                        </span>
                                        <span class="checkbox-label">RNB</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input th:field="*{genreNames}" th:value="Kids" value="95" type="checkbox" class="checkbox-input" name="kids" id="kids">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img th:src="@{/img/kids-music-wallpaper.jpg}" src="../static/img/kids-music-wallpaper.jpg" alt="Kids Music">
                                        </span>
                                        <span class="checkbox-label">Kids</span>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                        <button class="generate-button" type="submit">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Generate
                        </button>
                    </form>
                </div>
            </section>
            <script th:src="@{/Js/Playlist_Selected_Styles.js}"></script>
        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>