<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/public/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/header.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Logo_Title.png">
    <title>Contacts</title>
</head>
<body>
    <div class="container">
        <div class="main-field">
            <header class="header">
                <div class="header-content">
                  <a href="Index.html" class="logo"><img src="../static/img/logo_02.png" alt=""></a>
                  <input class="menu-btn" type="checkbox" id="menu-btn" />
                  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                  <ul class="menu">
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Generate_tracks.html">Create</a></li>
                    <li><a href="All_Playlists.html">Browse</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contacts.html">Contact</a></li>
                    <li><a href="My_Profile.html">My Profile</a></li>
                  </ul>
                </div> 
            </header>
            <section class="generate">
                <video class="generate-video" src="../static/video/Wave_05.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="generate-content">
                    <form class="generate-content-form">
                        <div class="generate-root">
                            <h2>Enter Root</h2>
                            <div class="generate-root-box">
                                <input type="text" name="" required="">
                                <label>Start destination</label>
                            </div>
                            <div class="generate-root-box">
                                <input type="text" name="" required="">
                                <label>End destination</label>
                            </div>
                        </div>
                        <fieldset class="checkbox-group">
                            <legend class="checkbox-group-legend">Select Music</legend>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="rock" id="rock">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/rock-music-wallpaper.jpg" alt="Rock Music">
                                        </span>
                                        <span class="checkbox-label">Rock</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="pop" id="pop">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/pop-music-wallpaper.jpg" alt="Pop Music">
                                        </span>
                                        <span class="checkbox-label">Pop</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="hiphop" id="hiphop">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/hiphop-music-wallpaper.jpg" alt="Hiphop Music">
                                        </span>
                                        <span class="checkbox-label">Hip Hop</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="classical" id="classical">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/classical_02-music-wallpaper.jpg" alt="Classical Music">
                                        </span>
                                        <span class="checkbox-label">Classical</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="rnb" id="rnb">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/rnb-music-wallpaper.jpg" alt="Rnb Music">
                                        </span>
                                        <span class="checkbox-label">RNB</span>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-wrapper">
                                    <input type="checkbox" class="checkbox-input" name="kids" id="kids">
                                    <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <img src="../static/img/kids-music-wallpaper.jpg" alt="Kids Music">
                                        </span>
                                        <span class="checkbox-label">Kids</span>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                        <button class="generate-button" type="submit">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Generate
                        </button>
                    </form>
                </div>
            </section>

        </div>
    </div>
    <footer class="footer">
        <div class="footer-cover">
        <div class="footer-cover-links">
            <ul class="footer-cover-links-nav">
            <li class="footer-cover-links-nav-item"><a href="Index.html">Home</a></li>
            <li class="footer-cover-links-nav-item"><a href="Portfolio.html">Work</a></li>
            <li class="footer-cover-links-nav-item"><a href="Services.html">Services</a></li>
            <li class="footer-cover-links-nav-item"><a href="About.html">About</a></li>
            <li class="footer-cover-links-nav-item"><a href="Contacts.html">Contact</a></li>
            </ul>
            <div class="footer-cover-links-contacts">
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-cover-line"></div>
        <div class="footer-cover-rights">
            <P id="currentYear">©date</P>
            <p>All rights reserved</p>
        </div>
        <script src="../static/Js/year.js"></script>
        </div>
    </footer>  
</body>
</html>