<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Home Page')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="home">
                <video class="home-video" th:src="@{/video/Wave_01.mp4}" src="../static/video/Wave_01.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="home-content">
                    <h1>ROADBEAT</h1>
                    <a th:if="${isAuthenticated}" th:href="@{/user/admin}" href="Generate_tracks.html">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        LET'S START
                    </a>
                    <a th:unless="${isAuthenticated}" th:href="@{/auth/login}" href="Generate_tracks.html">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        LOGIN
                    </a>
                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>