<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/public/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/header.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Logo_Title.png">
    <title>Contacts</title>
</head>
<body>
    <div class="container">
        <div class="main-field">
            <header class="header">
                <div class="header-content">
                  <a href="Index.html" class="logo"><img src="../static/img/logo_02.png" alt=""></a>
                  <input class="menu-btn" type="checkbox" id="menu-btn" />
                  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                  <ul class="menu">
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Generate_tracks.html">Create</a></li>
                    <li><a href="All_Playlists.html">Browse</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contacts.html">Contact</a></li>
                    <li><a href="My_Profile.html">My Profile</a></li>
                  </ul>
                </div> 
            </header>
            <section class="login">
                <video class="login-video" src="../static/video/Wave_02.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="login-content">
                    <div class="login-box">
                        <h2>Login</h2>
                        <form>
                            <div class="user-box">
                                <input type="text" name="" required="">
                                <label>Username</label>
                            </div>
                            <div class="user-box">
                                <input type="password" name="" required="">
                                <label>Password</label>
                            </div>
                            <button class="login-button" type="submit">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Submit
                            </button>
                        </form>
                        <a class="login-button" href="Register.html"><span></span>
                            <span></span>
                            <span></span>
                            <span></span>Register Here</a>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <footer class="footer">
        <div class="footer-cover">
        <div class="footer-cover-links">
            <ul class="footer-cover-links-nav">
                <li class="footer-cover-links-nav-item"><a href="Index.html">Home</a></li>
                <li class="footer-cover-links-nav-item"><a href="Generate_tracks.html">Create</a></li>
                <li class="footer-cover-links-nav-item"><a href="All_Playlists.html">Browse</a></li>
                <li class="footer-cover-links-nav-item"><a href="About.html">About</a></li>
                <li class="footer-cover-links-nav-item"><a href="Contacts.html">Contact</a></li>
            </ul>
            <div class="footer-cover-links-contacts">
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-cover-line"></div>
        <div class="footer-cover-rights">
            <P id="currentYear">©date</P>
            <p>All rights reserved</p>
        </div>
        <script src="../static/Js/year.js"></script>
        </div>
    </footer>  
</body>
</html>