<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Login')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="login">
                <video class="login-video" th:src="@{/video/Wave_02.mp4}" src="../static/video/Wave_02.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="login-content">
                    <div class="login-box">
                        <h2>Login</h2>
                        <form th:action="@{/auth/login}" th:object="${login}" method="post">
                            <div class="user-box">
                                <input type="text" name="" required="" th:field="*{username}">
                                <label>Username</label>
                            </div>
                            <div class="user-box">
                                <input type="password" name="" required="" th:field="*{password}">
                                <label>Password</label>
                            </div>
                            <button class="login-button" type="submit">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Submit
                            </button>
                            <div class="error-login-message" th:errors="*{username}">Username error placeholder</div>
                            <div class="error-login-message" th:errors="*{password}">Password error placeholder</div>
                        </form>
                        <a th:href="@{/Register}" class="login-button" href="Register.html"><span></span>
                            <span></span>
                            <span></span>
                            <span></span>Register Here</a>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>