<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/public/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/header.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Logo_Title.png">
    <title>My Profile</title>
</head>
<body>
    <div class="container">
        <div class="main-field">
            <header class="header">
                <div class="header-content">
                  <a href="Index.html" class="logo"><img src="../static/img/logo_02.png" alt=""></a>
                  <input class="menu-btn" type="checkbox" id="menu-btn" />
                  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                  <ul class="menu">
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Portfolio.html">Work</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contacts.html">Contact</a></li>
                    <li><a href="My_Profile.html">My Profile</a></li>
                  </ul>
                </div> 
            </header>
            <section class="profile">
                <video class="profile-video" src="../static/video/Wave_02.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="profile-content">
                    <div class="profile-content-userinfo">
                        <div class="about-desc-profiles-info">
                            <img src="../static/img/Atanas.jpg" alt="Atanas">
                            <div class="about-desc-profiles-info-pictures">
                                <div class="about-desc-profiles-info-pictures-pulse">
                                    <span style="--i:0"></span>
                                    <span style="--i:1"></span>
                                    <span style="--i:2"></span>
                                    <span style="--i:3"></span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-content-userinfo-text">
                            <h2>Profile information</h2>
                            <div class="profile-content-userinfo-text-items">
                                <div>
                                    <h4>First Name</h4>
                                    <p>Atanas</p>
                                </div>
                                <div>
                                    <h4>Last Name</h4>
                                    <p>Hristozov</p>
                                </div>
                                <div>
                                    <h4>Username</h4>
                                    <p>Atanas94</p>
                                </div>
                                <div>
                                    <h4>E-mail</h4>
                                    <p>atanas@abv.bg</p>
                                </div>
                                <a href="Edit_User.html">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content-playlists">
                        <h3>My Playlists</h3>
                        <a class="profile-content-playlists-item">
                            <div class="profile-content-playlists-item-text">
                                <p>Name: Fisrt Playlist</p>
                                <p>Number of songs: 15</p>
                                <p>duration: 24,36 min</p>
                            </div>
                            <div class="profile-content-playlists-item-pulse">
                                <span style="--i:0"></span>
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                            </div>
                        </a>
                        <a class="profile-content-playlists-item">
                            <div class="profile-content-playlists-item-text">
                                <p>Name: Fisrt Playlist</p>
                                <p>Number of songs: 15</p>
                                <p>duration: 24,36 min</p>
                            </div>
                            <div class="profile-content-playlists-item-pulse">
                                <span style="--i:0"></span>
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                            </div>
                        </a>
                        <a class="profile-content-playlists-item">
                            <div class="profile-content-playlists-item-text">
                                <p>Name: Fisrt Playlist</p>
                                <p>Number of songs: 15</p>
                                <p>duration: 24,36 min</p>
                            </div>
                            <div class="profile-content-playlists-item-pulse">
                                <span style="--i:0"></span>
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                            </div>
                        </a>
                        <a class="profile-content-playlists-item">
                            <div class="profile-content-playlists-item-text">
                                <p>Name: Fisrt Playlist</p>
                                <p>Number of songs: 15</p>
                                <p>duration: 24,36 min</p>
                            </div>
                            <div class="profile-content-playlists-item-pulse">
                                <span style="--i:0"></span>
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                            </div>
                        </a>
                        <a class="profile-content-playlists-item">
                            <div class="profile-content-playlists-item-text">
                                <p>Name: Fisrt Playlist</p>
                                <p>Number of songs: 15</p>
                                <p>duration: 24,36 min</p>
                            </div>
                            <div class="profile-content-playlists-item-pulse">
                                <span style="--i:0"></span>
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                            </div>
                        </a>
                        <a class="profile-content-playlists-item">
                            <div class="profile-content-playlists-item-text">
                                <p>Name: Fisrt Playlist</p>
                                <p>Number of songs: 15</p>
                                <p>duration: 24,36 min</p>
                            </div>
                            <div class="profile-content-playlists-item-pulse">
                                <span style="--i:0"></span>
                                <span style="--i:1"></span>
                                <span style="--i:2"></span>
                                <span style="--i:3"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <footer class="footer">
        <div class="footer-cover">
        <div class="footer-cover-links">
            <ul class="footer-cover-links-nav">
            <li class="footer-cover-links-nav-item"><a href="Index.html">Home</a></li>
            <li class="footer-cover-links-nav-item"><a href="Portfolio.html">Work</a></li>
            <li class="footer-cover-links-nav-item"><a href="Services.html">Services</a></li>
            <li class="footer-cover-links-nav-item"><a href="About.html">About</a></li>
            <li class="footer-cover-links-nav-item"><a href="Contacts.html">Contact</a></li>
            </ul>
            <div class="footer-cover-links-contacts">
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-cover-line"></div>
        <div class="footer-cover-rights">
            <P id="currentYear">©date</P>
            <p>All rights reserved</p>
        </div>
        <script src="../static/Js/year.js"></script>
        </div>
    </footer>  
</body>
</html>