<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Playlist')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="playlist">
                <video class="playlist-video" th:src="@{/video/Wave_03.mp4}" src="../static/video/Wave_03.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="playlist-content">

                    

                    
                    <div class="player">
                        <div class="wrapper">
                            <div class="details">
                                <h2 th:text="${playlist.title}" class="playlist-playing">Playlist Name</h2>
                                <div class="now-playing">PLAYING x OF y</div>
                                <div class="track-art"></div>
                                <div class="track-name">Track Name</div>
                                <div class="track-artist">Track Artist</div>
                            </div>
                 
                            <div class="slider_container">
                                <div class="current-time">00:00</div>
                                 <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                                 <div class="total-duration">00:00</div>
                            </div>
                 
                            <div class="slider_container">
                                <i class="fa fa-volume-down"></i>
                                 <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                                 <i class="fa fa-volume-up"></i>
                            </div>
                 
                            <div class="buttons">
                                <div class="random-track" onclick="randomTrack()">
                                    <i class="fa fa-random fa-2x" title="random"></i>
                                </div>
                                <div class="prev-track" onclick="prevTrack()">
                                     <i class="fa fa-step-backward fa-2x"></i>
                                 </div>
                                 <div class="playpause-track" onclick="playpauseTrack()">
                                     <i class="fa fa-play-circle fa-5x"></i>
                                 </div>
                                 <div class="next-track" onclick="nextTrack()">
                                     <i class="fa fa-step-forward fa-2x"></i>
                                 </div>
                                 <div class="repeat-track" onclick="repeatTrack()">
                                     <i class="fa fa-repeat fa-2x" title="repeat"></i>
                                 </div>
                            </div>
                 
                             <div id="wave">
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                             </div>  
                             <div class="playlist-edit">
                                <a class="playlist-edit-button" href="Edit_Playlist.html">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    EDIT</a>
                                <button class="playlist-edit-button" type="submit">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    DELETE
                                </button>
                             </div>
                        </div>
                    </div>



                    <div style="display: none;" th:if="${musicList}" class="generated-music">
                        <ul>
                            <li th:each="track : ${playlist.tracks}">
                                <img class="artist-photo" th:src="${track.artist.getArtistPhoto()}" />
                                <span class="title" th:text="${track.title}"></span>
                                <span class="artist" th:text="${track.artist.artistName}"></span>
                                <span class="preview-url" th:text="${track.getPreviewUrl()}"></span>
                            </li>
                        </ul>
                    </div>

                    <script th:inline="javascript">
                        /*document.addEventListener('DOMContentLoaded', function() {
                            let generatedMusicDiv = document.querySelector('.generated-music');
                            let trackElements = generatedMusicDiv.querySelectorAll('li');

                            let music_list01 = [];

                            if (trackElements.length > 0) {
                                trackElements.forEach(trackElement => {
                                    let img = trackElement.querySelector('.artist-photo').getAttribute('src');
                                    let name = trackElement.querySelector('.title').textContent.trim();
                                    let artist = trackElement.querySelector('.artist').textContent.trim();
                                    let music = trackElement.querySelector('.preview-url').textContent.trim();

                                    let trackObj = {
                                        img: img,
                                        name: name,
                                        artist: artist,
                                        music: music
                                    };
                                    music_list01.push(trackObj);
                                });
                            }

                            console.log(music_list01); // Check if the array is correctly constructed
                        });*/
                    </script>
                    <script th:src="@{/Js/musicPlayer.js}" src="../static/Js/musicPlayer.js"></script>






                    <script>
                        let music_list04 = [
                            {
                                img : 'images/stay.png',
                                name : 'Stay',
                                artist : 'The Kid LAROI, Justin Bieber',
                                music : 'https://cdns-preview-3.dzcdn.net/stream/c-3e477a6671b162c3d05dac2cfffbe2e7-6.mp3'
                            },
                            {
                                img : 'images/fallingdown.jpg',
                                name : 'Falling Down',
                                artist : 'Wid Cards',
                                music : 'https://cdns-preview-3.dzcdn.net/stream/c-3e477a6671b162c3d05dac2cfffbe2e7-6.mp3'
                            },
                            {
                                img : 'images/faded.png',
                                name : 'Faded',
                                artist : 'Alan Walker',
                                music : 'https://cdns-preview-3.dzcdn.net/stream/c-3e477a6671b162c3d05dac2cfffbe2e7-6.mp3'
                            },
                            {
                                img : 'images/ratherbe.jpg',
                                name : 'Rather Be',
                                artist : 'Clean Bandit',
                                music : 'https://cdns-preview-3.dzcdn.net/stream/c-3e477a6671b162c3d05dac2cfffbe2e7-6.mp3'
                            }
                        ];
                    </script>

                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>