<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/public/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/header.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Logo_Title.png">
    <title>Contacts</title>
</head>
<body>
    <div class="container">
        <div class="main-field">
            <header class="header">
                <div class="header-content">
                  <a href="Index.html" class="logo"><img src="../static/img/logo_02.png" alt=""></a>
                  <input class="menu-btn" type="checkbox" id="menu-btn" />
                  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                  <ul class="menu">
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Generate_tracks.html">Create</a></li>
                    <li><a href="All_Playlists.html">Browse</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contacts.html">Contact</a></li>
                    <li><a href="My_Profile.html">My Profile</a></li>
                  </ul>
                </div> 
            </header>
            <section class="playlist">
                <video class="playlist-video" src="../static/video/Wave_03.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="playlist-content">

                    

                    
                    <div class="player">
                        <div class="wrapper">
                            <div class="details">
                                <h2 class="playlist-playing">Playlist Name</h2>
                                <div class="now-playing">PLAYING x OF y</div>
                                <div class="track-art"></div>
                                <div class="track-name">Track Name</div>
                                <div class="track-artist">Track Artist</div>
                            </div>
                 
                            <div class="slider_container">
                                <div class="current-time">00:00</div>
                                 <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                                 <div class="total-duration">00:00</div>
                            </div>
                 
                            <div class="slider_container">
                                <i class="fa fa-volume-down"></i>
                                 <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                                 <i class="fa fa-volume-up"></i>
                            </div>
                 
                            <div class="buttons">
                                <!--<div class="random-track" onclick="randomTrack()">
                                    <i class="fa fa-random fa-2x" title="random"></i>
                                </div>-->
                                <div class="prev-track" onclick="prevTrack()">
                                     <i class="fa fa-step-backward fa-2x"></i>
                                 </div>
                                 <div class="playpause-track" onclick="playpauseTrack()">
                                     <i class="fa fa-play-circle fa-5x"></i>
                                 </div>
                                 <div class="next-track" onclick="nextTrack()">
                                     <i class="fa fa-step-forward fa-2x"></i>
                                 </div>
                                 <!--<div class="repeat-track" onclick="repeatTrack()">
                                     <i class="fa fa-repeat fa-2x" title="repeat"></i>
                                 </div>-->
                            </div>
                 
                             <div id="wave">
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                                 <span class="stroke"></span>
                             </div>  
                        </div>
                    </div>

                    <script src="../static/Js/musicPlayer.js"></script>

                </div>
            </section>

        </div>
    </div>
    <footer class="footer">
        <div class="footer-cover">
        <div class="footer-cover-links">
            <ul class="footer-cover-links-nav">
                <li class="footer-cover-links-nav-item"><a href="Index.html">Home</a></li>
                <li class="footer-cover-links-nav-item"><a href="Generate_tracks.html">Create</a></li>
                <li class="footer-cover-links-nav-item"><a href="All_Playlists.html">Browse</a></li>
                <li class="footer-cover-links-nav-item"><a href="About.html">About</a></li>
                <li class="footer-cover-links-nav-item"><a href="Contacts.html">Contact</a></li>
            </ul>
            <div class="footer-cover-links-contacts">
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="footer-cover-links-contacts-icons" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-cover-line"></div>
        <div class="footer-cover-rights">
            <P id="currentYear">©date</P>
            <p>All rights reserved</p>
        </div>
        <script src="../static/Js/year.js"></script>
        </div>
    </footer>  
</body>
</html>