<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Register')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="login">
                <video class="login-video" th:src="@{/video/Wave_02.mp4}" src="../static/video/Wave_02.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="login-content">
                    <div class="login-box">
                        <h2>Register</h2>
                        <form th:action="@{/register}" th:object="${user}" action="#" method="post">
                            <div class="user-box">
                                <input th:field="*{firstName}" type="text" name="" required="true">
                                <label>First Name</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{lastName}" type="text" name="" required="true">
                                <label>Last Name</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{username}" type="text" name="" required="true">
                                <label>Username</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{password}" type="password" name="" required="true">
                                <label>Password</label>
                            </div>
                            <div class="user-box">
                                <input th:field="*{email}" type="email" name="" required="true">
                                <label>E-mail</label>
                            </div>
                            <button class="login-button" type="submit">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Submit
                            </button>
                            <div th:errors="*{username}">Username error placeholder</div>
                            <div th:errors="*{firstName}">Name error placeholder</div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>