<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map1, map2;

        function GetMaps() {
            map1 = new Microsoft.Maps.Map('#myMap1', {});
            map2 = new Microsoft.Maps.Map('#myMap2', {});

            setupAutoSuggest('#searchBox1', '#searchBoxContainer1', map1);
            setupAutoSuggest('#searchBox2', '#searchBoxContainer2', map2);
        }

        function setupAutoSuggest(inputBox, container, map) {
            Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
                var manager = new Microsoft.Maps.AutosuggestManager({ map: map });
                manager.attachAutosuggest(inputBox, container, function (result) {
                    map.entities.clear();
                    var pin = new Microsoft.Maps.Pushpin(result.location);
                    map.entities.push(pin);
                    map.setView({ bounds: result.bestView });
                });
            });
        }

        function geocodeAddress(address, callback) {
            var geocodeRequest = 'https://dev.virtualearth.net/REST/v1/Locations/' + encodeURIComponent(address) + '?key=AmNgj83_e2KSgoqoQZy0NyPdUIpCpqeqXGNL63Yp5R7XXwtpaQmBORKJ44OIzpU3';
            
            fetch(geocodeRequest)
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    var coordinates = data.resourceSets[0].resources[0].point.coordinates;
                    callback(coordinates);
                })
                .catch(function(error) {
                    console.log('Error geocoding address:', error);
                });
        }

        function calculateDuration(travelMode) {
            var startPointAddress = document.getElementById('searchBox1').value;
            var endPointAddress = document.getElementById('searchBox2').value;

            geocodeAddress(startPointAddress, function(startPoint) {
                geocodeAddress(endPointAddress, function(endPoint) {
                    var key = 'AmNgj83_e2KSgoqoQZy0NyPdUIpCpqeqXGNL63Yp5R7XXwtpaQmBORKJ44OIzpU3';
                    var start = startPoint.join(',');
                    var end = endPoint.join(',');
                    var url = `https://dev.virtualearth.net/REST/v1/Routes/${travelMode}?waypoint.1=${start}&waypoint.2=${end}&key=${key}`;

                    var request = new XMLHttpRequest();

                    request.onreadystatechange = function() {
                        if (this.readyState === XMLHttpRequest.DONE) {
                            if (this.status === 200) {
                                var response = JSON.parse(this.responseText);

                                if (response && response.resourceSets && response.resourceSets.length > 0 &&
                                    response.resourceSets[0].resources && response.resourceSets[0].resources.length > 0 &&
                                    response.resourceSets[0].resources[0].travelDuration) {

                                    var durationInSeconds = response.resourceSets[0].resources[0].travelDuration;

                                    var hours = Math.floor(durationInSeconds / 3600);
                                    var minutes = Math.floor((durationInSeconds % 3600) / 60);

                                    alert(`Duration (${travelMode}): ${hours} hours ${minutes} minutes`);
                                } else {
                                    alert(`No duration information available for ${travelMode}. Please check your input.`);
                                }
                            } else {
                                alert(`Error fetching data from Bing Maps API for ${travelMode}. Please check your API key or try again later.`);
                            }
                        }
                    };

                    request.open('GET', url, true);
                    request.send();
                });
            });
        }

        calculateDuration('Walking');
        calculateDuration('Driving');
    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMaps&key=AmNgj83_e2KSgoqoQZy0NyPdUIpCpqeqXGNL63Yp5R7XXwtpaQmBORKJ44OIzpU3' async defer></script>
</head>
<body>
    <div id='searchBoxContainer1'>
        <input type='text' id='searchBox1'/>
    </div>
    <div id="myMap1" style="position:relative;width:400px;height:300px;"></div>

    <div id='searchBoxContainer2'>
        <input type='text' id='searchBox2'/>
    </div>
    <div id="myMap2" style="position:relative;width:400px;height:300px;"></div>

    <div>
        <h3>Calculated Durations:</h3>
        <button onclick="calculateDuration('Walking')">Calculate Walking Duration</button>
        <button onclick="calculateDuration('Driving')">Calculate Driving Duration</button>
    </div>
</body>
</html>
