<!DOCTYPE html>
<html lang="en">
<div th:replace="~{Templates.html :: head('Upload Photo')}"></div>
<body>
    <div class="container">
        <div class="main-field">
            <div th:replace="~{Templates.html :: header}"></div>
            <section class="photo">
                <video class="photo-video" th:src="@{/video/Wave_03.mp4}" src="../static/video/Wave_03.mp4" playsinline="" preload="none" autoplay="" muted="" loop=""></video>
                <div class="photo-content">

                  <form th:action="@{/user/photo}" method="post" enctype="multipart/form-data" th:object="${currentUser}" class="upload-container">
                      <input type="file" id="imageInput" name="file" accept="image/*">
                      <label for="imageInput"  class="login-button"><span></span>
                        <span></span>
                        <span></span>
                        <span></span>Select Image</label>
                      <div class="preview">
                        <img id="previewImage" th:src="@{/img/placeholder-update-image.png}" src="../static/img/placeholder-update-image.png" alt="Image Preview">
                      </div>
                      <div>
                          <button class="login-button" type="submit">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              Upload
                          </button>
                        </div>
                    </form>
                    <script th:src="@{/Js/upload-photo.js}" src="../static/Js/upload-photo.js"></script>

                    
                
                </div>
            </section>

        </div>
    </div>
    <div th:replace="~{Templates.html :: footer}"></div>
</body>
</html>